NEXT_PUBLIC_GITHUB_TOKEN=token-here
VAPID_PUBLIC_KEY=token-here
VAPID_PRIVATE_KEY=token-here
NEXT_PUBLIC_VAPID_PUBLIC_KEY=token-here
KV_REST_API_READ_ONLY_TOKEN=token-here
KV_REST_API_TOKEN=token-here
KV_REST_API_URL=token-here
KV_URL=token-here
REDIS_URL=token-here
